# 기본 데이터 처리
pandas
numpy


# GPT 호출용 OpenAI 라이브러리
openai


# 기타 유틸 
tqdm
ffmpeg-python

# 토큰화 및 텍스트 처리
tiktoken

# STT
git+https://github.com/openai/whisper.git

# Pyannote 
pyannote.audio==2.1.1
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
soundfile==0.10.3.post1

# 오디오 및 신호 처리
librosa==0.9.2
transformers>=4.36.2




